.Project-Link {
    cursor: pointer;
    text-align: left;
    opacity: 1;
    color: #0091ff;
    position: relative;
    margin: 2px;
}

.Project-Wrapper::-webkit-scrollbar {
    display: none;
}

.Project-Wrapper {

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    opacity: 0;
}

.Project-Menu {
    width: 100%;
    position: fixed;
    background-color: #000;
    top: 30px;
    height: 8%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(0, 0, 0, .7)    /*  10% opaque green */ ;
    backdrop-filter: blur(4px);

}

.Project-Menu > div {
    text-align: center;
    top: 10px;
    position: relative;
    color: #0091ff;
    font-size: 1.3em;
    cursor: pointer;
}

.Selected {
    font-weight: bolder;
    color: #00ffff !important;
}

.Project-Directory-Content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15%;
}
.Project-Title:Hover {
    opacity: 1;
    color: #00ffff !important;
    position: relative;
}

.Project-Title {
    font-size: 1.7em;
    position: relative;
}

.Writeup {
    opacity: 0;
    position: fixed;
    width: calc(100% - 50px);
}

.Project-Description {
     height: 30px;
     padding-left: 20px;
     font-size: 1.0em;
     opacity: .8;
     top: -10px;
     position: relative;
     opacity: .8;
    color: #0077ff;
    position: relative;
 }

.Back-Button-Container:Hover {
    cursor: pointer;
}
.Back-Button-Container {
    z-index: 30;
}
.Back-Button-Click {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-top: 16px;
}
.Back-Button {
    width: 25px;
    height: 25px;
    position: relative;
    margin-left: 10px;
    margin-top: 16px;
}

.Project-Description:Hover {

}