.Desktop-Icon {
    width: 70px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fffbe8;
    font-size: 14px;
    position: absolute;
}

.Desktop {
    width: 100%;
    height: 100%;
}
.Desktop-Background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

#terminal {
    top: 41%;
    right: 52%;
    background-image: url("../../../public/terminal.jpg");
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}

#projects{
    right: 60%;
    top: 40%;
    background-image: url("../../../public/folder.png");
}

#about {
    right: 43%;
    top: 40%;
    background-image: url("../../../public/file.png");
}

#record-player {
    top: 40%;
    right: 37%;
    background-image: url("../../../public/RECORD.png");
    width: 76px;
    height: 73px;
}

.monster {
    width: 150px;
    height: 200px;
    position: absolute;
    right:100px;
    bottom: 100%;
}

.watermark {
    position: absolute;
    color: #ccc;
    bottom: 0px;
    padding: 5px;
    font-size: 12px;
}

#contact-bar {
    width: 180px;
    position: absolute;
    top: 13px;
    right: -30px;
}
.Icon {
    margin: 5px;
    opacity: 1;
    width: 32px;
    height: 32px;
}
.Git {
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

.Mail {
    margin-left: 12px;
}

.Li {
    padding: 1px;
}
.Icon:Hover {
    opacity: 1;
    cursor: pointer;
}